.styled-checkbox {
  position: absolute;
  opacity: 0;
  outline: none;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  /* Box. */
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #00b8d4;
    border-radius: 4px;
  }

  /* Box hover */
  &:hover + label:before {
    background: white;
  }

  /* Box focus */
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  /* Box checked */
  &:checked + label:before {
    background: white;
  }

  /* Disabled state label. */
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  /* Disabled box. */
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  /* Checkmark. Could be replaced with an image */
  &:checked + label:after {
    content: "\2713\0020";
    position: absolute;
    top: 0.15em;
    left: 0.22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all 0.2s;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
  }
}
